<div class="container">
  <div class="timeline">
    {{#each @model.sleeps as |sleep|}}
      <div class="timeline-section">
        <Label
          class="timeline-date"
          @value={{moment-format sleep.startDateUTCMillis "DD/MM/YYYY"}}
        />
        <div class="row">
          <div class="timeline-box">
            <div class="box-content">
              <div class="content-margin">
                Deep sleep:
                {{sleep.deepSleepDuration}}
                min
              </div>
              <div class="content-margin">
                Light sleep:
                {{sleep.lightSleepDuration}}
                min
              </div>
              <div class="content-margin">
                Rem sleep:
                {{sleep.remSleepDuration}}
                min
              </div>
              <div class="content-margin total-sleep">
                Total:
                {{sleep.totalSleepDuration}}
                min
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{outlet}}