<div class="container">
  <div class="timeline">
    {{#each @model.sleeps as |sleep|}}
      <div class="timeline-section">
        <Label class="timeline-date" @value={{unix sleep.startDateSec}} />
        <div class="row">
          <div class="timeline-box">
            <div class="box-content">
              <div class="content-margin">
                Deep sleep:
                {{sleep.deepSleepDuration}}
              </div>
              <div class="content-margin">
                Light sleep:
                {{sleep.lightSleepDuration}}
              </div>
              <div class="content-margin">
                Rem sleep:
                {{sleep.remSleepDuration}}
              </div>
              <div class="content-margin total-sleep">
                Total:
                {{sleep.totalSleepDuration}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{outlet}}