<div class="container">
  <div class="timeline">
    {{#each @model.wellnessLogs as |wellness|}}
      <div class="timeline-section">
        <Label
          class="timeline-date"
          @value={{moment-format wellness.startDateUTCMillis "DD/MM/YYYY"}}
        />
        <div class="row">
          <div class="timeline-box">
            <div class="box-content">
              <div class="content-margin">
                <FaIcon @icon="battery-full" />
                Energy:
                {{wellness.energy}}
              </div>
              <div class="content-margin">
                <FaIcon @icon="smile" />
                Happiness:
                {{wellness.happiness}}
              </div>
              <div class="content-margin">
                <FaIcon @icon="dumbbell" />
                Muscle Soreness:
                {{wellness.muscleSoreness}}
              </div>
              <div class="content-margin">
                <FaIcon @icon="bed" />
                Sleep:
                {{wellness.sleep}}
              </div>
              <div class="content-margin">
                <FaIcon @icon="tired" />
                Stress:
                {{wellness.stress}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{outlet}}